.main-section{
    display: flex;
    align-items:center;
    justify-content: end;
    padding: 3rem;
    min-height: calc(100vh - 70px);
    background-image: url("../Assests/loginbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    color: white;
    

}
.main-right {

    font-size: 2rem;
}
.header-hand{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-hand img{
    width: 70px;
  
}
.main-right button{
    padding: 0.7rem 2.7rem;
    background-image:  linear-gradient(to right, rgb(16, 22, 59) 50% , rgba(21, 23, 88, 0.679) );
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
}
.main-right button:hover{
    color: grey;
}




@media(max-width:400px){

    .main-right {
        font-size: 1rem;
    }
    .header-hand img{
        width: 40px;
        margin-right: 5px;
    }


}

@media(max-width:910px){
    .main-right {
        font-size: 1.2rem;
    }
    .header-hand img{
        width: 60px;
        margin-right: 6px;
    }


}