.item{
    width: 310px;
    transition: 0.3s ease;
    border-radius: 0.7rem;
    cursor: pointer;
    margin: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item:hover{
   transform:  scale(1.05);
}
.item img{
    width: 100%;
    
   
    border-radius: 0.7rem;
}

.item-price{
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    gap: 50px;
}

.item-price p:nth-child(2){
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.71);
}