.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}
.footer-header{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.footer-header img{

    width: 400px;
}
.footer-header h2{
    font-size: 2.3rem;
    color: white;
}

.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}
.footer-nav li{
    margin: 1rem 2rem;
    cursor: pointer;
}

.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
}
.footer-socials img{
    margin: 1rem 2rem;
    cursor: pointer;
    
}

.Footer hr{
    width: 80%;

}
.Footer p{
    margin: 0.5rem 0;
}