.product-container{
    display: flex;
    margin: 3rem auto;
    flex-wrap: wrap;
    
}

.product-container-left{
    display: flex;
    flex-direction: row;
    align-items:center;
 
}
.product-item img{
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.product-container-right{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 

    margin-left: 30px; 
    color: white;
}
.product-right-rate{
    margin: 1rem 0;
}
.product-right-rate img{
    margin: 0 0.1rem;
}
.procuct-item-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 1rem;
    cursor: pointer;
  
}
.procuct-item-small img{
    margin: 3px 0;
    width: 80px;
}
.product-right-prices{
    margin: 1rem 0;
    font-size: 1.2rem;
}
.product-right-prices .product-oldPrice{
    color: grey;
    text-decoration: line-through;
    margin-right: 1rem;
}



.product-right-size ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
   
}
.product-right-size h4{
    font-size: 1.2rem;
}

.product-right-size ul li{
    background-color: rgba(128, 128, 128, 0.262);
    margin: 0.8rem 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
}

.product-right-size ul li:hover{
    background-color: rgba(57, 57, 57, 0.362);
}

.product-container-right button{

    cursor: pointer;
    color: white;
    width: 40%;
  height: 50px;
    margin: 1rem 1rem 1rem 0;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.7rem;
  background-image: linear-gradient(to right, rgba(145, 145, 145, 0.648) , rgba(21, 23, 88, 0.679) );
  transition: 0.3s ease;
}
.product-container-right button:hover{
   color: grey;
}

.product-category span{
 font-weight: bold;
}
.product-container img{
    border-radius: 0.7rem;
}

@media  (max-width:1180px) {
    .product-item img{
        width: 300px;
        height: 300px;
    }

    .product-right-size ul li{

        margin: 0.8rem 0.5rem;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        min-height: 30px;
        font-size: 1.1rem;
        font-weight: 600;
    }
    
}


@media  (max-width:940px) {
    .product{
        padding: 0;
    }
    .product-item img{
        width: 300px;
        height: 300px;
    }
    .procuct-item-small{
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
    .product-container-left{
        flex-direction: column;
     }
     .product-container-right button{
        font-size: 1rem;
        width: 200px;
     }

        
    }

    @media  (max-width:760px) {
        .product-container-right{
            width: 40%;
   
        }
        .procuct-item-small{
            flex-direction: row;
            margin-bottom: 0.5rem;
        }
        .procuct-item-small img{
            margin: 0.3rem;
        }
         .product-container-left{
            flex-direction: column;
         }
            
        }

@media  (max-width:600px) {
    .product-container-right{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    
}